<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block tab_header %}Les Plaisirs Secrets{% endblock %}</title>
  </head>
  <body>
    {% include "navigation.html" %}
    <div class="hero-section">
      <div class="hero-content">
        <h1 class="hero-title">Les Plaisirs Secrets</h1>
        <h3 class="hero-subtitles">
          Experience culinary excellence in an elegant atmosphere
        </h3>
      </div>
    </div>
  </body>
</html>
